<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--    日志-->
   <!-- <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>-->
<!--    别名-->
    <typeAliases>
        <package name="com.bjpowernode.domain"/>
    </typeAliases>

  <!--  <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/bjpowernode?serverTimezone=GMT"/>
                <property name="username" value="root"/>
                <property name="password" value="1234"/>
            </dataSource>
        </environment>
    </environments>-->
    <mappers>
        <!--        
        使用package的要求
        1，mapper文件名称必须和dao文件名成一样，包括大小写
        2，mapper文件必须和dao在同一目录下
        -->
        <package name="com.restaurant.menu.dao"/>
    </mappers>
</configuration>